p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.chiffres {
  font-size: 2.667rem;
  font-weight: 600;
  color: #00bebe;
  font-family: "Roboto";
}

.libelle {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Roboto";
}
